default_install_hook_types:
  - commit-msg
  - pre-commit
  - pre-push
default_stages:
  - pre-commit
  - pre-push
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
      - id: commitizen-branch
        stages:
          - post-commit
          - pre-push
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.4.1
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx biome check --write --files-ignore-unknown=true --no-errors-on-unmatched --error-on-warnings
        language: system
        types: [text]
        files: \.(jsx?|tsx?|c(js|ts)|m(js|ts)|jsonc?|css|svelte|vue|astro|graphql|gql)$
      - id: mypy
        name: mypy
        entry: uv run -m mypy
        language: system
        types_or: [python, pyi]
        args: [--scripts-are-modules]
        require_serial: true
      - id: ruff
        name: ruff
        entry: uv run -m ruff check --force-exclude
        language: python
        types_or: [python, pyi, jupyter]
        args: [--fix]
        require_serial: true
      - id: ruff-format
        name: ruff-format
        entry: uv run -m ruff format --force-exclude
        language: python
        types_or: [python, pyi, jupyter]
        args: []
        require_serial: true
